#container {
    max-width: 960px;
    height: auto;
    border: 2px solid red;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5%;
    padding: 15px;
    margin: 5%;
    justify-content: space-around;
    align-items: center;
}

#item {
    flex-basis: 20%;
    border: 2px solid blue;
    height: 50px;
    width: 50px;
}

button {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 12px;
}

.wrapper {
    text-align: center;
}

