#container {
    max-width: 960px;
    height: auto;
    border: 2px solid red;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5%;
    padding: 15px;
    margin: 5%;
    justify-content: space-around;
    align-items: center;
    border-radius: 0.375rem;
}

#item {
    
    border: 2px solid blue;
    height: auto;
    width: auto;
    padding: 0.75rem 1.5rem;
    margin: 4px 2px;
    border-radius: 0.375rem;
}

button {
    background-color: #04AA6D;
    color: white;
    border: none;
    color: white;
    padding: 0.75rem 1.5rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 12px;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
    min-width: 100px;
}

.wrapper {
    text-align: center;
}

